# Google: Crash Course on Python

## Module 2

### <span style='background :yellow' >Functions</span>

**Definition:**

<span style='color:Blue'>**def** </span> - keyword used to declare a function   
<span style='color:Blue'>**function_name**</span> - any name given to the function  
<span style='color:Blue'>**arguments**</span> - any value passed to function  
<span style='color:Blue'>**return**</span> (optional) - returns value from a function

In [131]:
def function_name(arguments):
    # function body 

    return

<span style='color:Red'>**Example:** </span>

In [33]:
def greeting(name):
    print("Welcome, " + name)
greeting("Kay")

Welcome, Kay

<span style='color:Red'> **Additional Exercise** </span>

In [45]:
def greeting(name, departmnent, floor, room):
    print("Welcome, " + name)
    print("You are part of " + departmnent + " team." + " Located on the " + floor + "th" +  " floor," + " " "Room number " + room)
greeting("Ian", "IT Support", "5", "259")

Welcome, Ian
You are part of IT Support team. Located on the 5th floor, Room number 259

### <span style='background :yellow' >Return Function</span>

<span style='color:Blue'>**Definition** </span> - Sometimes we don't want a function to simply run and finish. We may want a function to manipulate data we passed it and then return the result to us. This is where the concept of return values comes in handy. We use the return keyword in a function, which tells the function to pass data back. When we call the function, we can store the returned value in a variable. Return values allow our functions to be more flexible and powerful, so they can be reused and called multiple times.

Functions can even return multiple values. Just don't forget to store all returned values in variables! You could also have a function return nothing, in which case the function simply exits.

<span style='color:Red'>**Example:** </span>

**Required:** calculate area of 2 triangles

In [75]:
def area_triangle(base, height):
    return(base*height)/2
    
area_a = area_triangle(5,4)
area_b = area_triangle(7,3)
sum = area_a + area_b
print("The sum of both areas is: " + str(sum))

The sum of both areas is: 20.5

**Optional:** area of 1st triangle:

In [85]:
def area_triangle(base, height):
    return(base*height)/2
    
area_a = area_triangle(5,4)
print("The areas of 1st triangel is: " + str(area_a))

The areas of 1st triangel is: 10.0

<span style='color:Red'>**Example: Time Converter** </span>

**Exercise:** Calculate amount of seconds in Hrs

In [128]:
def convert_seconds(seconds):
    hours = seconds // 3600
    minutes = (seconds - hours * 3600) // 60
    remaining_seconds = seconds - hours * 3600 - minutes * 60 
    return hours, minutes, remaining_seconds

hours, minutes, seconds = convert_seconds(5000)
print(hours, minutes, seconds)

1 23 20

**Alternative:** Calculate amount of minutes in hour. 90 min in hour?

In [114]:
def convert_minutes(minutes):
    hours = minutes // 60
    remaining_minutes = minutes - (hours * 60)
    return hours, remaining_minutes

hours, minutes = convert_minutes(90)
print( str(hours) + " hours", "and " + str(minutes) + " minutes")

1 hours and 30 minutes

**Alternative:** Calculate amount of seconds per hr/min/sec

In [120]:
def convert_seconds(seconds):
    hours = seconds // 3600
    minutes = (seconds % 3600) // 60
    remaining_seconds = seconds % 60
    return hours, minutes, remaining_seconds

hours, minutes, seconds = convert_seconds(200)
print(str(hours) + " hours ", str(minutes) + " minutes", "and " + str(seconds) + " seconds")

0 hours  3 minutes and 20 seconds

<span style='color:Blue'>**// operator** </span> - The // operator performs integer division on the result of the % operator. This gives us the number of minutes in the remaining seconds.  
<span style='color:Blue'>**% operator**</span> - The % operator calculates the remainder of the division of seconds by 3600. This gives us the number of seconds that are left over after we have calculated the number of hours.

### <span style='background :yellow' >Length Function</span>

The len function in Python is a built-in function that returns the number of items in an object. The object can be a string, list, tuple, dictionary, or any other iterable object

In [165]:
name = "Kay"
number = len(name) 
print("Hello, " + name + "! Your lucky number is: " + str(number))
   
name = "Mike"
number = len(name) * 9
print("Hello, " + name + "! Your lucky number is: " + str(number))

Hello, Kay! Your lucky number is: 3
Hello, Mike! Your lucky number is: 36

### <span style='background :yellow' >Merge Functions & Code Reuse</span>

When you find code duplication in your scripts, it's a good idea to check if you can clean things up a bit by using a function. How about we rewrite this code creating a function to group all the duplicated code into just one line. The updated script gives us the exact same result as the original one, but it looks a lot cleaner. First, we've defined a function called lucky number, which carries out our calculation and prints it for us. Then we call the function twice, once with each name. Since we've grouped the calculation and print statements into a function, our code is not only easier to read but it's also now reusable. We can execute the code inside the lucky number function as many times as we need it, by just calling it with a different name. So we don't have to write it out again and again for each new name

<span style='color:Red'>**Example:** </span>

**Required:** Merge 2 functions together:

In [172]:
def lucky_number(name):
    number = len(name)
    print("Hello, " + name + "! Your lucky number is: " + str(number))

lucky_number("Mike")
lucky_number("Kay")

Hello, Mike! Your lucky number is: 4
Hello, Kay! Your lucky number is: 3

### <span style='background :yellow' >Code Style</span>

**Poor Style Example:**

In [184]:
def calculate(d):
    q = 3.14
    z = q * (d**2)
    print(z)
    
calculate(5)

78.5

**Good Style Example:**

In [192]:
def circle_area(radius):
    pi = 3.14
    area = pi * (radius ** 2)
    print(area)
    
circle_area(5)

78.5

 **#Comment:**  Good practice to add comments to clarify things in code or simply not to forget. # do not influence on the code  
 **Example:**

In [199]:
def circle_area(radius): # This is the formula for calculation radius of a circle 
    pi = 3.14 # Pi is a constant 
    area = pi * (radius ** 2)
    print(area)
    
circle_area(5)

78.5

**Interesting Exercise From The Quiz**

In [3]:
# This function compares two numbers and returns them
# in increasing order.
def order_numbers(number1, number2):
	if number2 > number1:
		return number1, number2
	else:
		return number2, number1

# 1) Fill in the blanks so the print statement displays the result
#    of the function call
smaller, bigger = order_numbers(100, 99)
print(smaller, bigger)

99 100